.title {
    font-size: 36px;
    padding: 20px;
    color: black;
    border: 5px solid brown;
    background-color: lightsalmon;
    text-align: center;
}

.contain {
    text-align: center;
    list-style-position: inside;
}